body { 
    font-family: 'VT323', monospace;
    background-color: #7FDBFF;
}

#form-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.form-item {
    margin-right: 1.8rem;  /*adds space to the right of form items*/
}

label.primary {
    display:block;
    margin: 0.4em 0;
}

label::after {
    content: ":";
}

button, input[type="submit"] {
    margin-top: 1rem;
}

button, input {
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 5px;
    /* background-color: ; */
}

#album-list{
    list-style-type: none;
    /* flex-basis: auto; */

}

.album-list-item{
    flex-wrap: wrap;
    background-color: aliceblue;
    max-width: 150px; 
    border: 10px solid palegoldenrod;
    text-align: center;

    border-top-left-radius: 37px 140px;
    border-top-right-radius: 23px 130px;
    border-bottom-left-radius: 110px 19px;
    border-bottom-right-radius: 120px 24px;

    display: block;
    position: relative;
    border: solid 3-x #6e7491;
    padding: 40px 60px;
    width: 70%;
    margin: 100px auto 0;
    font-size: 17px;
    line-height: 28px;
    transform: rotate(-1deg);
    box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
    transition: all 0.13s ease-in
}


ul {
    display: flex;
    flex-wrap: wrap;
    
}
